.container {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .search{
   background-color: rgb(0, 0, 0);
   border-radius: 20rem;
   width: 15rem;
   height: 1.5rem;
   border: transparent;
   color: rgb(255, 255, 255);
   
   overflow: hidden;
   transition: 300ms;
   box-shadow: 0 0 1rem rgba(0, 0, 0, 0.461), 0 0 4rem rgba(0, 0, 0, 0.461), 0 0 8rem rgba(0, 0, 0, 0.461);
}

.search::placeholder{
   color: rgb(255, 255, 255);
   font-family: Verdana, Tahoma, sans-serif;
}

.search:hover{
   box-shadow: 0 0 1rem rgba(0, 0, 0, 0.461), 0 0 4rem rgba(84, 81, 255, 0.616), 0 0 8rem rgba(142, 81, 255, 0.623);
}

button {
   background-color: #f0116600;
   color: #4b0df58f;
   border: none;
   border-radius: 1rem;
   padding:  10px 10px 5px; ;
   font-size: 1rem;
   font-weight: bold;
   cursor: pointer;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   transition: all 0.2s ease-in-out;
 }
 
 button:hover {
   background-color: #f31f70;
   transform: translateY(-1px);
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   
 }
 ::placeholder {
   color: #ccc; 
   opacity: 0.4; 
 }
 