.App {
   text-align: center;
}

html,
body {
  height: 100%;
}

html {
  background-image: url('https://www.xtrafondos.com/wallpapers/resized/rick-y-morty-fanart-2020-6344.jpg?s=large');
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
